.demo {
    /* There are various different types of position that you can apply to an elemnt */
    /*
 static,
 relative,
 absolute,
 fixed
 */
    position: relative;
}

.block {
    height: 100px;
    background-color: aquamarine;
    border: 1px solid #000;
    margin-bottom: 40px;
}

.xyz {
    background-color: blue;
    position: relative;
}