body {
    margin: 0;
}

html {
    font-family: 'Libre Franklin', sans-serif;
}


/* header.page-header {
    height: 100px;
} */

.logo {
    display: flex;
    justify-content: center;
}


/* NAVIGATION */


/* Mobile menu */

.mobile-nav-container {
    display: none;
    background-color: grey;
}

.mobile-nav-container.active {
    display: block;
}

#menu-toggle {
    width: 40px;
    height: 40px;
    cursor: pointer;
}


/* Desktop menu */

.main-nav {
    display: none;
}

.main-nav__menu-item {
    padding: 1rem;
}

.main-nav__menu-item a {
    font-size: 1.2rem;
}


/* HERO SECTION */

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    background-color: #f6f6f6;
    background-image: url(../images/hero.jpg);
    background-size: cover;
    background-position: center;
}

.hero__inner {
    color: #fff;
}


/* ABOUT SECTION */

.about__image {
    background-color: grey;
}

@media only screen and (min-width: 768px) {
    .main-nav {
        display: flex;
        justify-content: center;
    }
    #menu-toggle,
    .mobile-nav-container,
    .mobile-nav-container.active {
        display: none;
    }
}

@media only screen and (min-width: 1024px) {
    /* Add styles here later */
}