body {
    margin: 0;
}

.logo {
    display: flex;
    justify-content: center;
}


/* NAVIGATION */


/* Mobile */

.mobile-nav-container {
    display: none;
    background-color: grey;
}

.mobile-nav-container.active {
    display: block;
}

#menu-toggle {
    width: 40px;
    height: 40px;
    cursor: pointer;
}


/* Desktop */

.main-nav {
    display: none;
}

.main-nav__menu-item {
    padding: 1rem;
}

.main-nav__menu-item a {
    font-size: 1.2rem;
    font-family: 'Libre Franklin', sans-serif;
}

@media only screen and (min-width: 768px) {
    .main-nav {
        display: flex;
        justify-content: center;
    }
    #menu-toggle,
    .mobile-nav-container,
    .mobile-nav-container.active {
        display: none;
    }
}

@media only screen and (min-width: 1024px) {
    /* Add styles here later */
}