body {
    margin: 0;
}

html,
h1,
h2,
h3,
h4,
h5,
h6,
span,
a,
p {
    font-family: 'Libre Franklin', sans-serif;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}


/* header.page-header {
    height: 100px;
} */

.logo {
    display: flex;
    justify-content: center;
}


/* SECTIONS */

.page-section {
    padding: 100px 0;
}

#contact-section {
    background-color: antiquewhite;
}

#about-section .container {
    display: flex;
    flex-direction: column-reverse;
}


/* NAVIGATION */


/* Mobile menu */

.mobile-nav-container {
    display: none;
    background-color: grey;
}

.mobile-nav-container.active {
    display: block;
}

#menu-toggle {
    width: 40px;
    height: 40px;
    cursor: pointer;
}


/* Desktop menu */

.main-nav {
    display: none;
}

.main-nav__menu-item {
    padding: 1rem;
}

.main-nav__menu-item a {
    font-size: 1.2rem;
}


/* HERO SECTION */

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    background-color: #f6f6f6;
    background-image: url(../images/hero.jpg);
    background-size: cover;
    background-position: center;
}

.hero__inner {
    color: #fff;
}


/* FOOTER */

footer {
    background-color: #444;
    height: 100vh
}

@media only screen and (min-width: 768px) {
    .main-nav {
        display: flex;
        justify-content: center;
    }
    #menu-toggle,
    .mobile-nav-container,
    .mobile-nav-container.active {
        display: none;
    }
    .container {
        max-width: 768px;
        margin: 0 auto;
        padding: 0 15px;
    }
    #about-section .container {
        display: flex;
        flex-direction: row;
    }
    .about__image {
        padding: 15px;
    }
}

@media only screen and (min-width: 1024px) {
    /* Add styles here later */
    .container {
        max-width: 1024px;
        margin: 0 auto;
        padding: 0 15px;
    }
}