body {
    margin: 0;
}

.hero {
    width: 100%;
    height: 25vh;
    background-color: grey;
    position: relative;
    background-image: url('../images/hero-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.hero h1 {
    margin-top: 0;
    color: #fff;
}

.social {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 2rem;
}

.social a {
    color: #fff;
}