    body {
        background-color: #000;
        margin: 0;
    }
    
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        height: 800px;
        background-color: cadetblue;
    }
    
    .grid-item.large {
        background-color: red;
        grid-column-start: span 2;
    }
    /* %, px, rem, em, vh, vw */
    
    .demo {
        background-color: yellow;
        width: 100vw;
        padding: 2rem;
        font-size: 80px;
        height: 100vh;
    }
    
    .box {
        width: 25%;
        background-color: purple;
    }
    
    .box p {
        /* rems relative to the default font-size of the html */
        font-size: 0.5em;
        color: #fff;
    }