.container {
    background-color: blue;
    height: 200px;
    width: 200px;
    overflow: hidden;
    box-sizing: border-box;
    background-image: url(../images/test-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.box {
    height: 100%;
    width: 100%;
    background-color: red;
    transition: transform 0.5s linear;
    transform: translateX(-100%);
    padding: 1rem;
}

.container:hover .box {
    transform: translateX(0);
}